Dia 02/11/2023 Empezamos Pandas Pag 75 Diapositiva 149
    Tipos de datos:
    Estructrurados: Documento CSV
    Sin estructura 
    Semi estructurados : Un e-Mail
    Descargamos el fichero CSV
    Partiendo de un conjunto de datos se harán analisis con la informacion para hacer un modelo matemantico para a partir de unos datos si le preguntams por algo sepa dar una respuesta con u %elevado de precision y %bajo de error
    Pej: un conjunto de mensajes de correo y despues determinar si un correo es spam o no
    
    La limpieza de los datos se hace con Pandas
    Vamos a diapositiva 341 para poner en contexto lo que vamos a ver con Pandas
    %del tiempo para precesar datos
    60% en limpieza y organizacion del los datos
    19%
    9% datos minimos para Patrones
    ....
    
    DataFrame, ¿que es? Es una tabla de filas y columnas, cada columna tiene un nombre y un tipo asociado y las filas son datos con un indice (al menos)
    Que hacer cuando faltan datos?, pues lo veremos segun el tipo d edatos que tengamos que procesar
    
   # Pandas
    Las columnas sse  llaman series pero no podemos trabajar con ellas de forma independientes
    un Dataframe en Python, tratado con Pandas es un conjunto de Series

# Series(Pandas)

In [5]:
import pandas as pd

In [18]:
# Creacion de series
serie_numeros = pd.Series([25, 18, 39, 54])
serie_numeros

0    25
1    18
2    39
3    54
dtype: int64

In [20]:
serie_numeros = pd.Series([25, 1.8, 3.9, 5.5])
serie_numeros

0    25.0
1     1.8
2     3.9
3     5.5
dtype: float64

In [27]:
serie_letras =  pd.Series(["25", "18", "39", "Pepe"], name="Color")
serie_letras

0      25
1      18
2      39
3    Pepe
Name: Color, dtype: object

In [13]:
type(serie_numeros)

pandas.core.series.Series

In [21]:
serie = pd.Series([25, 18, 39, True])
serie

0      25
1      18
2      39
3    True
dtype: object

In [25]:
#Serie a partir de un array de numpy
import numpy as np
serie = pd.Series(np.array([25, 18, 39, True]))
serie

0    25
1    18
2    39
3     1
dtype: int32

In [28]:
#Serie a partir de una serie
serie_ = pd.Series([25, 18, 39, True])
serie

0    25
1    18
2    39
3     1
dtype: int32

In [30]:
#Propiedades de las series, nombre
serie_letras.name

'Color'

In [32]:
#Propiedades de las series, serie_letras =  pd.Series(["25", "18", "39", "Pepe"], name="Color")

serie_letras.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
serie_letras.values

array(['Perez', 'Martin'], dtype=object)

In [39]:
#Serie a partir de un diccionario
serie_letras =pd.Series({"Eduardo":"Perez" ,"Maria": "Martin" ,"Mari": "Mar"})
serie_letras

Eduardo     Perez
Maria      Martin
Mari          Mar
dtype: object

In [41]:
type(serie_letras.values)

numpy.ndarray

# Acceso a elementos de una serie

In [43]:
serie_letras[0]

'Perez'

In [45]:
serie_letras[-1] #dará error fuera de rango ¿¿¿a mi no me da error!!!

'Mar'

In [61]:
# otra forma de crear la serie
serie_alu =pd.Series(["Antonio", "Luis", "Pepe", "Luis"], name ="Alumnos", index=[444, 3333, 666, 5555])
serie_alu

444     Antonio
3333       Luis
666        Pepe
5555       Luis
Name: Alumnos, dtype: object

In [62]:
serie_alu.sort_index() #sin parentesis tambien funciona

444     Antonio
666        Pepe
3333       Luis
5555       Luis
Name: Alumnos, dtype: object

In [63]:
serie_alu.sort_values()

444     Antonio
3333       Luis
5555       Luis
666        Pepe
Name: Alumnos, dtype: object

In [64]:
#orden descendente por nombre de z - a
serie_alu.sort_values(ascending=False)

666        Pepe
3333       Luis
5555       Luis
444     Antonio
Name: Alumnos, dtype: object

In [66]:
serie_alu.unique()

array(['Antonio', 'Luis', 'Pepe'], dtype=object)

In [68]:
serie_alu.value_counts()

Luis       2
Antonio    1
Pepe       1
Name: Alumnos, dtype: int64

In [70]:
serie1 = pd.Series([1,2,3,4,5])
serie2  = pd.Series([6,2,4,9,1])

In [72]:
serie1 + serie2

0     7
1     4
2     7
3    13
4     6
dtype: int64

In [74]:
serie1 = pd.Series([1,2,3,4,5])
serie2  = pd.Series([6,2,4,9])

In [76]:
#si las series tienen distinta longitud, el que falta lo rellena con NaN
serie1 + serie2

0     7.0
1     4.0
2     7.0
3    13.0
4     NaN
dtype: float64

In [78]:
len(serie1)

5

In [80]:
len(serie2)

4

In [91]:
if len(serie1) == len(serie2):
    print("Error, La longitud de las series es distinta " + str(len(serie1))) +" != " + str(len(serie2))
else:
    print("La suma de las serie1 + serie 2 es: ", serie1 + serie2)

La suma de las serie1 + serie 2 es:  0     7.0
1     4.0
2     7.0
3    13.0
4     NaN
dtype: float64

In [95]:
if len(serie1) != len(serie2):
    print("Error, La longitud de las series es distinta " + str(len(serie1)) + " != " + str(len(serie2)))
else:
    print("La suma de las serie1 + serie 2 es: ", serie1 + serie2)

Error, La longitud de las series es distinta 5 != 4

In [97]:
serie1 * 4

0     4
1     8
2    12
3    16
4    20
dtype: int64

In [99]:
print(serie1.sum())

15

In [102]:
print(serie1.mean())
print(serie1.idxmax())

3.0
4

In [2]:
#funcion lambda y series
def funcion(para : int):
     return 4 * para

In [3]:
funcion(3)

12

## Como usar funciones lambda en Python
Una función lambda se usa cuando necesitas una función sencilla y de rápido acceso: por ejemplo, como argumento de una función de orden mayor como los son map o filter

La sintaxis de una función lambda es <b> lambda args: expresión</b>.
Primero escribes la palabra clave lambda, dejas un espacio, después los argumentos que necesites separados por coma, dos puntos :, y por último la expresión que será el cuerpo de la función.

Recuerda que no puedes darle un nombre a una función lambda,  ya que estas son anónimas (sin nombre) por definición.

Una función lambda puede tener tantos argumento como necesites, pero debe tener una sola expresión.

In [7]:
#La función lambda se puede aplicar a la serie mediante la función apply
estatura=pd.Series([160,170,180], name='Altura')
estatura

0    160
1    170
2    180
Name: Altura, dtype: int64

In [10]:
#creamos una funcion a la que le sumamos 10 al parametro x
mas_10=lambda x:x+10
mas_10(5)

15

In [11]:
#aplicamos a la serie estatura  la funcion lambda y suma 10 a cada estatura de la serie
estatura.apply(lambda x:x+10)

0    170
1    180
2    190
Name: Altura, dtype: int64